body {
    background-size: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQwh4rAmYg9-O9zGzO67_TDFyr3mLo2c6LoaqWi9-B6z5vd2C442CaakA5ew1Clh8hc_0&usqp=CAU);
    background-repeat: no-repeat;
}

h1 {
    color:aliceblue
}