h1 {
    font-family: 'Times New Roman';
    color: goldenrod;
    text-align: center;
    font-size: xx-large;
}

p {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    text-decoration: rgb(139, 85, 16);
}
