h1 {
    /* font-family: ; */
    font-family:Arial, Helvetica, sans-serif;
    /* font-size: ; */
    font-size: 60px;
    /* font-weight: ; */
    font-weight: ;
    /* font-variant: ; */
    font-variant: small-caps;
    /* font-style: ; */
    font-style: oblique;
    /* line-height: ; */
    line-height: 20px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
}