p {
    color: yellow;
}

p {
    color: blue; /*akan dipilih yang ini karena berada di posisi bawah / p kedua <level 1>*/
}
    /* kiw kiw */
p#ini1 {
    color: brown; /*akan dipilih yang ini karena lebih spesifik menggunakan id (level 2) / p kedua <level 1>*/
}

p {
    color: rebeccapurple;
}

.goreng {
    color: burlywood;
}

ul#nasi li {
    color: red; /*dipilih yang ini karena dari kalkulasi spesifiknya lebih banyak*/
}

