h1 {
    color: rgb(60, 109, 128);
    text-transform: uppercase;
    text-shadow: 50px;
}

p {
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}