h1 {
    font-family:Arial, verdana, serif;
    color: aquamarine;
    font-size: 100px;
    font-variant: small-caps;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}