p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#p1 {
    font-family: Arial, Helvetica, sans-serif;
}

#tahajud   {
    color: blue;
}

.dhuha {
    color: brown
}

li {
    color: aqua;
}