body {
    background-color: #522258;
}
.div1 {
    text-align: center;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

th {
    text-align: center;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.input1 input {
    background-color: transparent;
    color: black;
    width: 100%;
}

.hobi,
.hobi1,
 .hobi2 {
    width: auto;
}

.hobi {
    background-color: transparent;
    padding-top: 5pt;
    padding-bottom: 5pt;
    color: black;
}

.Submit {
    width: auto;
    text-align: center;
}

  /* Apa ini kwkw */
img {
    width: 30%;
}