body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ol li a {
    color:crimson ;
}
p {
    text-indent: 1cm;
}

.p2 {
    color: rgb(42, 50, 165);
}
#p1 {
    color: rgb(91, 3, 86);
}