.hello:link {
    color: black;
}        

.hello:hover {
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1.5ch;
}
.hello:visited {
    color: black;
}
li:first-child {
    color:chartreuse;
}